In [15]:
import pandas as pd

data = pd.read_csv("../data/AER_credit_card_data.csv")

X = data.drop("card", axis=1)
y = data["card"]

print(f"{X.shape, y.shape = }")
X.head()

X.shape, y.shape = ((1319, 11), (1319,))

,reports,age,income,share,expenditure,owner,selfemp,dependents,months,majorcards,active
0,0,37.66667,4.5200,0.033270,124.983300,yes,no,3,54,1,12
1,0,33.25000,2.4200,0.005217,9.854167,no,no,3,34,1,13
2,0,33.66667,4.5000,0.004156,15.000000,yes,no,4,58,1,5
3,0,30.50000,2.5400,0.065214,137.869200,no,no,0,25,1,7
4,0,32.16667,9.7867,0.067051,546.503300,yes,no,2,64,1,5

In [16]:
y.head()

0    yes
1    yes
2    yes
3    yes
4    yes
Name: card, dtype: object

In [17]:
y = (y == "yes").apply(int)

In [18]:
owner = (X["owner"] == "yes").apply(int)
selfemp = (X["selfemp"] == "yes").apply(int)

owner.head()
selfemp.head()

0    0
1    0
2    0
3    0
4    0
Name: selfemp, dtype: int64

In [19]:
X["owner"] = owner
X["selfemp"] = selfemp

In [20]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
from sklearn.pipeline import make_pipeline

pipeline = make_pipeline(RandomForestClassifier(n_estimators=100))
cv_scores = cross_val_score(pipeline, X, y, cv=5, scoring="accuracy")

print(f"Cross-validation accuracy = {cv_scores.mean()}")

Cross-validation accuracy = 0.9802915082382764

In [21]:
expenditure_for_cardholders = X["expenditure"] == y
expenditure_non_cardholders = X["expenditure"] != y

print(f"Percentage of those who did not receive a card and had no expenditures = {(expenditure_non_cardholders == 0).mean()}")
print(f"Percentage of those who received a card and had no expenditures = {(expenditure_for_cardholders == 0).mean()}")

Percentage of those who did not receive a card and had no expenditures = 0.22441243366186506
Percentage of those who received a card and had no expenditures = 0.775587566338135

In [22]:
potential_leaks = ["expenditure", "share", "active", "majorcards"]
X2 = X.drop(potential_leaks, axis=1)

cv_scores = cross_val_score(pipeline, X2, y, cv=5, scoring="accuracy")

print(f"Cross-validation accuracy = {cv_scores.mean()}")

Cross-validation accuracy = 0.8309309828321234